/* TABLET */

@media screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .row {
        width: 100%;
        margin-top: 0;
        padding-top: 10px;
    }

    #lezioni .row {
        width: 90%
    }

    #lezioni h1 {
        color: darkslateblue;
    }

    #lezioni .row>.left, #lezioni .row>.right {
        padding: 20px 10px;
    }

    #steps .row {
        width: 90%;
    }

    #steps h1 {
        color: deeppink;
    }
    
    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        padding: 40px 10px;
    }

    #why .row {
        width: 90%;
        text-align: center;
    }

    #why h1 {
        color: darkslateblue;
    }
    
    #why .row>.first, #why .row>.second, #why .row>.third {
        width: 33%;
        margin-top: 20px;
        padding: 10px 10px;
        float: left;
    }

    #lezioni, #why {
        background: yellowgreen;
    }
    
    #steps {
        background: deepskyblue;
    }

    hr {
        display: none;
    }

    img {
        height: 120px;
        margin-bottom: 20px;
    }
}

/* SMARTPHONE */

@media screen and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .row {
      width: 100%;
      margin-top: 0;
      padding-top: 10px;
    }

    #lezioni h1 {
        color: darkslategray;
    }

    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
        padding: 10px 5px;
        float: none;
    }

    #steps h1 {
        color: orangered;
    }

    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 100%;
        padding: 20px 50px;
        float: none;
    }

    #why h1 {
        color: darkslategray;
    }

    #why .row>.first, #why .row>.second, #why .row>.third {
        width: 100%;
        margin-top: 0;
        padding: 10px 10px;
    }

    #lezioni, #why {
        background: #F3F2CD;
    }
    
    #steps {
        background: white;
    }

    img {
        height: 100px
    }
}
